
<div class="container">
  <div class="row">
    <div class="col-md-offset-1">
      <h1><%= form_title %></h1>
      <% if @question.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_for @question do |i| %>
      <div class="form-group">
        <%= i.text_field :title, class:"form-control", placeholder: "Give your Question a cool Title" %>
      </div>
      <div class="form-group">
        <%= i.text_area :description, class:"form-control", placeholder: "Describe your problem" %>
      </div>
      <div> 
        <%= i.submit form_title, class: "btn btn-success btn-lg btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="button">
  <%= link_to "<span class='glyphicon glyphicon-chevron-left'>.</span>".html_safe, questions_path %>
</div>
