
  <div class="text-center">
      <h1><i>Questionboard</i></h1>
  </div>

<div class="text-left">
  <div class="form-control">
  <%= link_to "Publish a new Question", new_question_path   %>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Votes</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
      <tr>
          <td> <%= link_to question.title, question_path(question) %></td>
          <td> <%=question.description%></td>
          <td> <%=question.votos %></td>
          <td><%= link_to "Edit this question",edit_question_path(question) %></td>
          <td><%= link_to "Delete this question",question, method: :delete, data: {confirm: "Sure?"} %></td>
      </tr>
      <% end  %>
    </tbody>
  </table>
</div>
