<!--
  <div class="text-left">
      <h1>Questionboard</h1>
  </div>

<div class="container">
  <div class="text-right">
  <%= link_to "Publish a new Question", new_question_path, class: "btn btn-primary" %>
  </div>
</div>

<br>

<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Votes</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
      <tr>
          <td> <%=link_to question.title, question_path(question) %></td>
          <td> <%=question.description%></td>
          <td> <%=question.votos %></td>
          <td><%= link_to "Edit this question",edit_question_path(question) %></td>
          <td><%= link_to "Delete this question",question, method: :delete, data: {confirm: "Sure?"} %></td>
      </tr>
      <% end  %>
    </tbody>
  </table>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="questions">
        <% @questions.each do |question| %>
        <div class="question clearfix">
          <div class="question-details">
            <span class="question-title"><%= link_to question.title, question %></span>
            <span class="question-description"><%= question.description %></span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
