<!--
<div>
<h1>Question:  <%= @question.title %></h1>
<p><%= @question.description %> </p>
 <p> the question has <%= @question.votos %> votes</p>
</div>

<%= link_to "Back", questions_path %> -->

<div class="question-page">
  <header class="question-header">
    <h1 class="heading"><%= @question.title %></h1>
    <p> <%= @question.description %></p>

    <div class="actions">
      <% if signed_in? && @question.user == current_user %>
      <div class="button">
        <%= link_to '<span class="glyphicon glyphicon-pencil"> </span>'.html_safe, edit_question_path %>
        <%= link_to '<span class="glyphicon glyphicon-trash"> </span>'.html_safe,
        @question, method: :delete, data: {confirm: "Are you sure you want to delete yor question?"} %>
      </div>
      <% end %>
    </div>
  </header>

  <h2>Answers</h2>
  <% @question.answers.each do |answer| %>
  <div class="panel panel-default">
      <div class="panel-body">
            <%= answer.description %>
      </div>
      <div class="panel-footer">
      answered by <%= answer.user.email %> <img src="<%= Gravatar.new("#{answer.user.email}").image_url %>" class="img-circle" />
      </div>
    </div>
  <% end %>



<% if signed_in? %>
  <%= form_for [@question, @question.answers.build] do |f| %>
    <div class="form-group">
      <%= f.text_area :description, class: "form-control", rows:"10", placeholder: "Answer the question" %>
    </div>

    <div class="text-right">
      <%= f.submit "Submit Answer", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>



  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <div class="votes">
          <h2>Votos</h2>
        </div>

        <div class="comments">
          <h2>Comments</h2>
          </div>


    </div>
  </div>
</div>

<div class="button">
<%= link_to  "<span class='glyphicon glyphicon-chevron-left'></span>".html_safe, questions_path %>
</div>
